body {
    background: #ffbf00;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    border: 10px solid #f7347a;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: cursive;
}

strong {
    font-size: 5rem;
    display: inline-block;
    margin: 0 1rem;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    font-size: 1.1rem;
    font-family: cursive;
}