@media screen and (min-width:721px) and (max-width:1500px){
    .tag_body {
        /*left: 12%;*/
        left:105px;
    }
    .tag_body_close {
        /*left: 12%;*/
        left:105px;
    }

    .tag_html_close {
        /*left:8%;*/ 
        left: 70px;
    }
    
    .introduction {
        /*left: 18%;*/
        left: 140px;
    }
}


@media screen and (max-width:1000px){
    .letter_f_image {
        display: none;
    }
}

@media screen and (min-width:1001px){
    .letter_f_image {
        width: 300px;
        top: 25%;
        right: 5%;
    }
}

@media screen and (min-width:1300px){
    .letter_f_image {
        width: 400px;
        top: 20%;
        right: 10%;
    }
}

@media screen and (min-width:1400px){
    .letter_f_image {
        width: 450px;
        top: 15%;
        right: 13%;
    }
}

@media screen and (max-width:720px){
    .menu {
        background-color: #181818;
        width: 100%;
        height: 55px;
    }
    
    .logo {
        float: left;
        height: 55px;
        width: 10%;
        padding: 0% 1% 1% 2%;
        font-size: 0.7em;
    }
    
    .navigation {
        margin: 0 0 0 0;
        width: 50%;
        float: left;
        height: 55px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    
    .navigation div {
        display: none;
        padding: 6px 0px 6px 0px;
        text-align: center;
        font-size: 0.8em;
        color: #08fdd8;
    }
    
    .navigation i {
        display: inline-block;
        height: 55px;
        padding: 15px 4% 4% 4%;
        font-size: 1.5em;
        color: #8d8d8d;
        /*transition: all 0.4s;*/
    }
    
    .social_icons {
        margin: 0;
        float: left;
        height: 55px;
        width: 35%;
        text-align: right;
    }
    
    .social_icons i {
        display: inline-block;
        margin:0;
        height: 55px;
        padding: 20px 4% 4% 4%;
        font-size: 1em;
    }
    
    .blog {
        display: none;
    }
}

@media screen and (max-width:359){
    .introduction {
        top: 20%;
        overflow: hidden;
    }
}

@media screen and (max-width:480px){
    
    .logo {
        display: none;
    }
    
    .navigation {
        width: 100%;
    }
    
    .social_icons {
        display: none;
    }
    
    .introduction {
        top: 20%;
        overflow: hidden;
    }
    
    .introduction h1 {
        font-size: 340%;
        font-weight: 600;
    }
    
    .introduction i {
        font-size: 340%;
    }
    
}

@media screen and (max-width:320px){
    
    .logo {
        display: none;
    }
    
    .navigation {
        width: 100%;
    }
    
    .navigation i {
        padding: 15px 5% 4% 5%;
    }
    
    .social_icons {
        display: none;
    }
    
   
    
    .introduction h1 {
        font-size: 240%;
        font-weight: 600;
    }
    
    .introduction i {
        font-size: 240%;
        right: 8%;
    }
    
    .introduction h2 {
        font-size: 0.8em;
        letter-spacing: ;
    }
    
    .introduction a {
        font-size: 60%;
        margin-top: 25px;
    }
    
    .tag_body {
        top:15%;
        left:3%;
        font-size: 0.8em;
    }

    .tag_h1 {
        top:3%;
        left: 0;
        font-size: 0.8em;
    }

    .tag_h1_close {
        top:55%;
        left:88%;
        font-size: 0.8em;
    }

    .tag_body_close {
        top: 80%;
        left:3%;
        font-size: 0.8em;
    }

    .tag_html_close {
        top: 83%;
        left:2%;  
        font-size: 0.8em;
    }
    
    .footer {
        font-size: 0.5em;
    }
    
    .letter_f_image {
        display: none;
    }
    
    #particles-js {
        
        height: 105%;
        
        
    }
}












