html,body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    height: 500px;
    margin: 5% auto 0 auto;
    background-color: #f2eeee;
}

#myChart {
    width: 100%;
}

.list {
    width: 1000px;
    margin: 3px auto;
    background-color: #f2eeee;
    padding: 1%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.col {
    float: left;
    width: 30%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}